<!-- header -->
<%- include("partials/header"); -%>

<!-- Main -->
<h1 class="d-flex justify-content-center bg-success text-white mt-2 mb-2 text-center">CABINET INDIVITUAL DE PSIHOLOGIE</h1>
<h1 class="d-flex justify-content-center mt-4 text-header">Cozma Maria Dolores</h1>
<div class="row">

    <div class="col">
        <h4 class="d-flex justify-content-left">Specializari:</h4>
        <h4 class="d-flex justify-content-left">*Psiholgie Clinica</h4>
        <h4 class="d-flex justify-content-left">*Psihologie Educationala</h4>
        <h4 class="d-flex justify-content-left">*Psihopedagogie Speciala</h4>
    </div>

    <div class="col">
        <img class="img-decoration" alt="bussines-card" src="/images/logo-psihologie.png">
    </div>

    <div class="col">
        <h2 class="d-flex justify-content-center text-success">Programari la telefon:</h2>
        <h2 class="d-flex justify-content-center">0721263341</h2>
    </div>

</div>

<p class="mt-5 mb-4 d-flex justify-content-center"><a class="btn btn-lg btn-success" href="/contact" role="button">Contact</a></p>

<!-- Post preview columns -->
<div class="row mt-4">
    
    <% posts.forEach(function(post){%>
        <div class="card mb-4 " style="margin-top: 20px;">
            <div class="card-body card-bg" >
                <h2 class="mt-4 font-weight-bold"> <%= post.title %> </h2>
                <p class="text-dark font-weight-normal">
                <%=post.content.substring(0, 200) + " ..." %>
                <a class="card-text" href="/post/<%=post._id%>">Citeste mai mult</a>
                </p>
            </div>
            <div class="card-footer text-muted">
                <% let monthNames = ["Ianuarie", "Februarie", "Martie", "Aprilie", "Mai", "Iunie", "Iulie", "August", "Septembrie", "Octombrie", "Noiembrie", "Decembrie"]; %> 
                <% let month = monthNames[post.postedAt.getMonth()]; %>
                <p>Postat la <%= post.postedAt.getDate() + ' ' + month + ' ' + post.postedAt.getFullYear()  %> de <a class="card-text" href="#"><%= author %></a></p>        
            </div>
        </div>
    <%});%>
    
</div>

<!-- Site footer -->
<%- include("partials/footer"); -%>